
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.231;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

select, input, textarea, button {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 99%;
    line-height: normal;
    font-family: sans-serif;
}

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

a {
    color: rgb(21, 66, 139);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    outline: none;
}

a:active {
    color: rgb(21, 66, 139);
}

ul, li, ol {
    list-style: none outside none;
}

ol {
    list-style-type: decimal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

input, select, textarea {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.5;
    font-family: Tahoma, "Microsoft Yahei", Simsun, serif;
    outline: none;
}

input[type="text"] {
    padding: 4px;
    background: url("../images/input.png") 0 -75px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
}

input[type="button"], input[type="submit"] {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 2px 6px 3px;
    border-right: 1px solid rgb(200, 200, 200);
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: url("../images/input.png") 0 0 no-repeat;
    position: relative;
    top: -1px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background-position: 0 -25px;
    border-right: 1px solid rgb(204, 203, 203);
}

input[type="checkbox"], input[type="radio"] {
    position: relative;
    top: 2px;
    left: -2px;
    cursor: pointer;
}

select {
    line-height: 20px;
    padding: 2px;
    background: url("../images/input.png") 0 -75px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
}

textarea {
    width: 400px;
    height: 60px;
    padding: 2px 0 0 2px;
    background: url("../images/input.png") 0 -75px repeat-x rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
    overflow-y: auto;
    resize: none;
}

.blue {
    color: rgb(0, 0, 255);
}

.mr10 {
    margin-right: 10px !important;
}

input, select, textarea {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.5;
    font-family: Tahoma, "Microsoft Yahei", Simsun, serif;
    outline: none;
}

input[type="checkbox"], input[type="radio"] {
    position: relative;
    top: 2px;
    left: -2px;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    width: 110px;
    padding: 4px;
    background: url("../images/input.png") 0 -75px repeat-x;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
    color: rgb(85, 85, 85);
}

textarea {
    width: 400px;
    height: 60px;
    padding: 2px 0 0 2px;
    background: url("../images/input.png") 0 -75px repeat-x rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
    overflow-y: auto;
    resize: none;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
    border: 1px solid rgb(153, 187, 232);
}

select {
    width: auto;
    padding: 2px;
    background: url("../images/input.png") 0 -75px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
}

input[type="button"], input[type="submit"], input[type="reset"] {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    border-right: 1px solid rgb(200, 200, 200);
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: url("../images/input.png") no-repeat;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-position: 0 -25px;
    border-right: 1px solid rgb(204, 203, 203);
}

input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    background-position: 0 -50px;
    border-right: 1px solid rgb(204, 203, 203);
}

.container-bottom {
    text-align: center;
    padding: 0 0 20px;
}

.main-table1 {
    width: 100%;
    margin: 0 auto 10px;
    background: rgb(255, 255, 255);
    position: relative;
}

.main-table1 th {
    padding: 0 10px;
    background: url("../images/cmp-bg2.gif") repeat-x;
    color: rgb(68, 68, 68);
    white-space: nowrap;
    border: 1px solid rgb(204, 204, 204);
    line-height: 30px;
    font-weight: bold;
}

.main-table1 tr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: whitesmoke;
}

.main-table1 tr td a {
    color: rgb(0, 51, 255);
}

.main-table1 .main-table1-title {
    padding: 0 10px;
    background: url("../images/cmp-bg2.gif") repeat-x;
    color: rgb(68, 68, 68);
    height: 30px;
    line-height: 30px;
}

.main-table1 .main-table1-greentitle {
    padding: 0 10px;
    color: rgb(68, 68, 68);
    height: 30px;
    line-height: 30px;
    background: rgb(215, 242, 194) none;
}

.main-table1 .menuTd {
    width: 10%;
    background: rgb(232, 237, 255);
    text-align: left;
    white-space: nowrap;
}

.main-table1 .table-head {
    text-align: center;
    border: rgb(0, 0, 0);
    font-weight: bold;
}

.main-table1 img {
    position: relative;
    left: -4px;
    top: 3px;
}

.main-table1 .higherLine {
    height: 80px;
}

.main-table1 tr td select {
    width: 133px;
}

.main-table1 tr td select option {
    padding: 1px 0;
}

.main-table1 .tr2 {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: white;
}

.main-table1 .main-table1-whitetr {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
}

.main-table1 .main-table1-whitetr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: rgb(255, 255, 255);
}

.main-table1 .main-table1-tinredtr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: rgb(255, 230, 230);
}

.main-table1 .main-table1-tintyellowtr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: rgb(255, 254, 230);
}

.main-table1 .main-table1-coldwhitetr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: rgb(249, 252, 254);
}

.main-table1 .main-table1-12pxredboldfont {
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.main-table1 .main-table1-13pxredboldfont {
    font-size: 13px;
    font-weight: bold;
    color: red;
}

.main-table1 .main-table1-14pxredboldfont {
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.main-table1 .main-table1-14pxtintredboldfont {
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 85, 85);
}

.div_left_main {
    margin: 5px;
    background: rgb(195, 213, 237);
    min-width: 500px;
    width: 100%;
}

.div_left_content {
    border: 1px solid rgb(153, 188, 232);
    background: none 0 0 repeat scroll rgb(255, 255, 255);
    overflow: hidden;
    min-height: 730px;
    padding: 10px;
}

.divtab_menu {
    clear: both;
    height: 25px;
}

.divtab_menu ul {
    position: absolute;
    z-index: 2;
}

.divtab_menu ul li {
    background: none 0 0 repeat scroll rgb(238, 238, 238);
    border-top: 1px solid rgb(153, 187, 232);
    border-right: 1px solid rgb(153, 187, 232);
    border-left: 1px solid rgb(153, 187, 232);
    border-image: initial;
    border-bottom: none;
    cursor: pointer;
    float: left;
    line-height: 24px;
    padding: 0 3px;
    position: relative;
    text-align: center;
    width: 100px;
    border-radius: 3px 3px 0 0;
    margin: 0 2px;
}

.divtab_menu ul li.selected {
    background: none 0 0 repeat scroll rgb(255, 255, 255);
    border-right: 1px solid rgb(153, 187, 232);
    border-top: 3px solid rgb(153, 188, 232);
    height: 23px;
    line-height: 22px;
}

.divtab_content {
    border-top: 1px solid rgb(153, 187, 232);
    padding: 10px;
}

.divtab_menu150px ul li.selected {
    background: none 0 0 repeat scroll rgb(255, 255, 255);
    border-right: 1px solid rgb(153, 187, 232);
    border-top: 3px solid rgb(153, 188, 232);
    height: 23px;
    line-height: 22px;
}

.divtab_menu250px ul li.selected {
    background: none 0 0 repeat scroll rgb(255, 255, 255);
    border-right: 1px solid rgb(153, 187, 232);
    border-top: 3px solid rgb(153, 188, 232);
    height: 23px;
    line-height: 22px;
}

.greystyle-standard {
    margin: auto;
    padding-left: 5px;
    width: 100%;
}

.greystyle-standard th {
    padding: 0 10px;
    background: url("../images/cmp-bg2.gif") repeat-x;
    color: rgb(68, 68, 68);
    white-space: nowrap;
    border: 1px solid rgb(204, 204, 204);
    line-height: 30px;
}

.greystyle-standard tr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: whitesmoke;
}

.greystyle-standard .greenhead {
    background: rgb(215, 242, 194);
}

.greystyle-standard .greystyle-standard-whitetr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: rgb(255, 255, 255);
    height: 20px;
}

.greystyle-standard .greystyle-standardcoldwhitetr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: rgb(249, 252, 254);
    height: 20px;
}

.greystyle-standard .greystyle-standard-tintoforangetr tr {
}

.greystyle-standard .greystyle-standard-tintoforangetr td {
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: rgb(255, 221, 204);
    height: 20px;
}

.greystyle-standard .greystyle-standard-boldtitle th {
    font-weight: bold;
}

.greystyle-standard .greystyle-standard-red td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: rgb(239, 252, 253);
    height: 20px;
}

.paging_div {
    font-family: 微软雅黑, serif;
    padding-right: 5px;
    line-height: 30px;
    border-top: 1px solid rgb(204, 204, 204);
    text-align: right;
    background: rgb(246, 246, 246);
}

input.paging_input_text {
    height: 18px;
    vertical-align: middle;
    line-height: 15px;
    padding: 3px 1px 2px;
    width: 32px;
    text-align: center;
    background: rgb(255, 255, 255);
}

select.paging_input_text {
    padding: 1px;
    width: 45px;
    background: rgb(255, 255, 255);
    vertical-align: middle;
}

a.paging_link {
    cursor: pointer;
    height: 19px;
    line-height: 18px;
    width: 20px;
    margin-left: 3px;
    text-align: center;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
}

a.page-go {
    padding: 0 2px;
    color: rgb(0, 0, 153);
}

a.paging_link:hover {
    border: 1px solid rgb(153, 187, 232);
    box-shadow: rgb(187, 187, 187) 1px 1px 3px;
}

body {
    font-family: "Microsoft yahei", Verdana, Geneva, sans-serif;
}

.dialog_content h4 {
    line-height: 26px;
    padding-left: 4px;
    background: rgb(187, 187, 187);
    color: rgb(255, 255, 255);
}

.loading_cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
}

.cover {
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    opacity: 0.6;
}

.loading {
    height: 36px;
    line-height: 36px;
    background: url("../images/loading_img.gif") no-repeat;
    padding-left: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    font-weight: normal;
    font-size: 14px;
}

.loading_fb {
    padding: 0 2px;
    font-weight: bold;
    color: rgb(0, 0, 255);
}

.dialog {
    background: url("../images/panel_title.png") 0 0 repeat scroll transparent;
    border: 1px solid rgb(153, 187, 232);
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    z-index: 20;
    left: 35%;
    top: 25%;
    display: none;
}

.dialog_header {
    color: rgb(21, 66, 139);
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 2px 0 4px;
    position: relative;
    cursor: move;
}

.dialog_tool {
    position: absolute;
    right: 1px;
    top: 0;
}

.dialog_tool div {
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    margin-left: 2px;
    opacity: 0.8;
    width: 16px;
}

.dialog_tool_close {
    background: url("../images/panel_tools.gif") -16px 0 no-repeat scroll transparent;
}

.dialog_content {
    border: 1px solid rgb(153, 187, 232);
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.main-table1 .menuTd {
    text-align: right;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, textarea, p, blockquote, th, td, form {
    margin: 0;
    padding: 0;
}


.txt-impt {
    color: #C00;
    font-size: 14px;
}

select.areaCls {
    width: 70px;
}

/*新定义*/
.rnoHeader {
    padding: 0 10px;
    background: url("../images/cmp-bg2.gif") repeat-x;
    color: rgb(68, 68, 68);
    white-space: nowrap;
    border: 1px solid rgb(204, 204, 204);
    line-height: 30px;
}

.rnoHeader th {
    text-align: left;
    padding-left: 28px;
    padding-top: 1px;
    font-weight: bold;
}