
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.231;
    font-family: sans-serif;
    height: 100%;
    width: 99%;
}

select, input, textarea, button {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 99%;
    line-height: normal;
    font-family: sans-serif;
}

a {
    color: rgb(21, 66, 139);
    text-decoration: none;
    cursor: pointer;
}

ul, li, ol {
    list-style: none outside none;
}

input, select, textarea {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.5;
    font-family: Tahoma, "Microsoft Yahei", Simsun, serif;
    outline: none;
}

input[type="text"] {
    padding: 4px;
    background: url("../images/input.png") 0 -75px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
}

input[type="button"], input[type="submit"] {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 2px 6px 3px;
    border-right: 1px solid rgb(200, 200, 200);
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: url("../images/input.png") 0 0 no-repeat;
    position: relative;
    top: -1px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background-position: 0 -25px;
    border-right: 1px solid rgb(204, 203, 203);
}

input[type="checkbox"], input[type="radio"] {
    position: relative;
    top: 2px;
    left: -2px;
    cursor: pointer;
}

select {
    line-height: 20px;
    padding: 2px;
    background: url("../images/input.png") 0 -75px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
}

input, select, textarea {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.5;
    font-family: Tahoma, "Microsoft Yahei", Simsun, serif;
    outline: none;
}

input[type="checkbox"], input[type="radio"] {
    position: relative;
    top: 2px;
    left: -2px;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    width: 110px;
    padding: 4px;
    background: url("../images/input.png") 0 -75px repeat-x;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
    color: rgb(85, 85, 85);
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
    border: 1px solid rgb(153, 187, 232);
}

select {
    width: auto;
    padding: 2px;
    background: url("../images/input.png") 0 -75px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(154, 154, 154) rgb(205, 205, 205) rgb(205, 205, 205) rgb(154, 154, 154);
}

input[type="button"], input[type="submit"], input[type="reset"] {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    border-right: 1px solid rgb(200, 200, 200);
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: url("../images/input.png") no-repeat;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-position: 0 -25px;
    border-right: 1px solid rgb(204, 203, 203);
}

input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    background-position: 0 -50px;
    border-right: 1px solid rgb(204, 203, 203);
}

.main-table1 {
    width: 100%;
    margin: 0 auto 10px;
    background: rgb(255, 255, 255);
    position: relative;
}

.main-table1 th {
    padding: 0 10px;
    background: url("../images/cmp-bg2.gif") repeat-x;
    color: rgb(68, 68, 68);
    white-space: nowrap;
    border: 1px solid rgb(204, 204, 204);
    line-height: 30px;
    font-weight: bold;
}

.main-table1 tr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: whitesmoke;
}

.main-table1 tr td a {
    color: rgb(0, 51, 255);
}

.main-table1 .menuTd {
    width: 10%;
    background: rgb(232, 237, 255);
    text-align: left;
    white-space: nowrap;
}

.main-table1 img {
    position: relative;
    left: -4px;
    top: 3px;
}

.main-table1 .higherLine {
    height: 80px;
}

.main-table1 tr td select {
    width: 133px;
}

.main-table1 tr td select option {
    padding: 1px 0;
}

body {
    font-family: "Microsoft yahei", Verdana, Geneva, sans-serif;
}

.main-table1 .menuTd {
    text-align: right;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, textarea, p, blockquote, th, td, form {
    margin: 0;
    padding: 0;
}

/*新定义*/
.rnoHeader {
    padding: 0 10px;
    background: url("../images/cmp-bg2.gif") repeat-x;
    color: rgb(68, 68, 68);
    white-space: nowrap;
    border: 1px solid rgb(204, 204, 204);
    line-height: 30px;
}

.rnoHeader th {
    text-align: left;
    padding-left: 28px;
    padding-top: 1px;
    font-weight: bold;
}

.info-style {
    width: 230px;
    height: 56px;
    position: fixed;
    top: 50%;
    left: 45%;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    background: #ff0000;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
    z-index: 9999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.loading {
    width: 160px;
    height: 56px;
    position: fixed;
    top: 50%;
    left: 45%;
    line-height: 56px;
    color: #fff;
    padding-left: 60px;
    font-size: 15px;
    background: #000 url("../images/loader.gif") no-repeat 10px 50%;
    opacity: 0.7;
    z-index: 9999;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.td-label {
    width: 20%;
    height: 36px;
    text-align: right;
    background: rgb(232, 237, 255);
    white-space: nowrap;
    padding-right: 3px;
}

.required {
    color: #C00;
    font-size: 14px;
}

.upload-progress {
    position: relative;
    width: 700px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
    display: none;
}

.bar {
    background-color: #B4F5B4;
    width: 0;
    height: 20px;
    border-radius: 3px;
}

.percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

#searchImportDiv {
    height: 46px;
    background: rgb(255, 255, 255) url("../images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50%;
    border: 1px solid rgb(251, 216, 80);
}

.importTitle {
    background: url("../images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x scroll rgb(255, 255, 255);
    border: 1px solid rgb(251, 216, 80);
    color: rgb(235, 143, 0);
    font-weight: bold;
    padding-left: 2.2em;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.importContent {
    border: 1px solid rgb(221, 221, 221);
    padding: 1em 2.2em;
    border-radius: 5px;
    height: 200px;
}

.sectionDivCls {
    margin-top: 10px;
}

.ui-state-default .ui-icon {
    background-image: url("../images/ui-icons_ef8c08_256x240.png");
}

#navTitle {
    font-weight: bold;
}
