server:
  port: 8380
  context-path: /portal

security:
  basic:
    enabled: false
  cas:
    enabled: false

management:
  security:
    enabled: false

logging:
  level:
    com.hgicreate.rno.service: debug
    com.hgicreate.rno.web: debug

spring:
  datasource:
    url: jdbc:oracle:thin:@192.168.50.20:1521:rnodb
    username: rno4dev
    password: 123456
  jpa:
    database-platform: org.hibernate.dialect.Oracle10gDialect
    database: ORACLE
    show-sql: false
    properties:
      hibernate.format_sql: true

rno:
  app-code: rno
  path:
    upload-files: d:/tmp/rno-cloud-platform/uploads
  ftp:
    host: 192.168.9.11
    port: 21
    username: rnoftp
    password: rnodev
    remote-path: /var/rno/data