spring:
  application:
    name: @project.artifactId@
  messages:
    basename: i18n/messages
  profiles:
    active: cas,dev, kafka
  http:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB

mybatis:
  configuration:
    map-underscore-to-camel-case: true

info:
  app:
    name: ${spring.application.name}
    version: @project.version@
