<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgicreate.rno.mapper.gsm.GsmDynamicCoverageMapper">
    <!--                     动态覆盖                           -->
    <insert id="insertIntoRno2GNcsCoverT" parameterType="map">
        <![CDATA[
		insert into RNO_2G_NCS_COVER_T(RNO_NCS_DESC_ID, ${ncsFields})
		  select RNO_2G_ERI_NCS_DESC_ID,  ${ncsFields}
          from RNO_2G_ERI_NCS
          where ncell = ${cell}
          and rno_2g_eri_ncs_desc_id = ${ncsDescId}
          and distance > 0.1
          and reparfcn >=5000
          and cell in (
          select label from RNO_CELL
            where indoor_cell_type = '室外覆盖'
            and area_id in(${areaIdStr})
          )
         ]]>
    </insert>
    <update id="updateRno2GNcsCoverTSetInterfer" parameterType="map">
        <![CDATA[
		update RNO_2G_NCS_COVER_T set interfer=${TIMESRELSS}
          /DECODE(reparfcn,0,NULL,reparfcn) where RNO_NCS_DESC_ID =${ncsDescId}
         ]]>
    </update>
    <select id="selectInterferCelllonCelllatCellNcelllonNcelllatFromRno2GNcsCoverT" resultType="map">
        <![CDATA[
		select interfer as val,
                cell_lon as lng,
                cell_lat as lat,
                cell as ncell_id,
                ncell_lon as cell_lng,
                ncell_lat as cell_lat
                from RNO_2G_NCS_COVER_T where interfer<>0
         ]]>
    </select>
    <update id="deleteAll" >
        <![CDATA[
		delete from RNO_2G_NCS_COVER_T
         ]]>
    </update>

    <select id="selectIdFromRno2GHwNcsDesc" parameterType="map" resultType="map">
        <![CDATA[
		select id as desc_id
        from rno_2g_hw_ncs_desc
        where city_id = ${cityId}
          and mea_time>=to_date(${startDate},'yyyy-MM-dd HH24:mi:ss')
          and mea_time<=to_date(${endDate},'yyyy-MM-dd HH24:mi:ss')
         ]]>
    </select>
    <select id="selectAllFromRnoGSMMapLngLatRelaGps" parameterType="map" resultType="map">
        <![CDATA[
		select * from RNO_GSM_MAP_LNGLAT_RELA_GPS
        WHERE AREAID = ${areaId}
        and MAPTYPE = ${mapType}
        ORDER BY BOTTOMLEFT
         ]]>
    </select>
    <select id="selectManufacturersFromRnoBsc" parameterType="map" resultType="map">
        <![CDATA[
		select desc_id from RNO_GSM_BSC_DATA
		where id=(
		  select bsc_id from RNO_CELL
		    where label=${cell}
		    )
         ]]>
    </select>
    <select id="selectfromRnoRnoGSMEriNcsDescripter" parameterType="map" resultType="map">
        <![CDATA[
		select rno_2g_eri_ncs_desc_id as DESC_ID,
		RELSS_SIGN,RELSS,RELSS2_SIGN,RELSS2,RELSS3_SIGN,RELSS3,RELSS4_SIGN,RELSS4,RELSS5_SIGN,RELSS5
		from rno_gsm_eri_ncs_descriptor
		 where city_id = ${cityId}
		  and mea_time>=to_date(${startTime},'yyyy-MM-dd HH24:mi:ss')
		  and mea_time<=to_date(${endTime},'yyyy-MM-dd HH24:mi:ss')
         ]]>
    </select>
    <select id="selectFromSysAreaOrderByParentId" resultType="map">
        <![CDATA[
		select  * from RNO_SYS_AREA
		ORDER BY PARENT_ID
         ]]>
    </select>

    <!--                     动态覆盖                           -->
    <select id="queryDynamicCoverageInData" resultType="com.hgicreate.rno.web.rest.gsm.vm.DynamicCoverageData">
        <![CDATA[
		select	DISTINCT t.record_date,
		t.cell_Id CELL_ID,
		c.longitude CELL_LON,
		c.latitude CELL_LAT,
		t.ncell_id NCELL_ID,
		d.longitude as NCELL_LON,
		d.latitude as NCELL_LAT,
		t.rsrptimes0 RSRPTIMES0,
		t.rsrptimes2 RSRPTIMES2,
		t.rsrptimes0 / t.mixingsum as VAL1,
		t.rsrptimes2 / t.mixingsum as VAL2,
		t.distance_km*1000 DISTANCE
	  from
		lte_mr_data t,
		lte_cell_param c,
		lte_cell_param d
	  where
		t.cell_Id = c.cell_Id
		and t.ncell_id = d.cell_Id
		and d.cover_type = '室外'
		and t.mixingsum >= 50
		and t.distance_km >= 0.1
		and t.distance_km <= 5
		and t.rsrptimes0 > 0
		and t.cell_Id = #{lteCellId}
		and t.area_id = #{cityId}
		and t.record_date in ${dates}
		]]>
    </select>

    <select id="queryDynamicCoverageOutData" resultType="com.hgicreate.rno.web.rest.gsm.vm.DynamicCoverageData">
        <![CDATA[
		select	DISTINCT t.record_date,
		t.cell_Id NCELL_ID,
		c.longitude NCELL_LON,
		c.latitude NCELL_LAT,
		t.ncell_id CELL_ID,
		d.longitude as CELL_LON,
		d.latitude as CELL_LAT,
		t.distance_km*1000 DISTANCE
	from
		RNO_LTE_MR_DATA t,
		RNO_LTE_CELL c,
		RNO_LTE_CELL d
	where
		t.cell_Id = c.cell_Id
		and t.ncell_id = d.cell_Id
		and d.cover_type = '室外'
		and t.distance_km >= 0.1
		and t.distance_km <= 5
		and t.ncell_id = ${lteCellId}
		and t.area_id = ${cityId}
		and t.record_date in ${dates}
		]]>
    </select>
    <!--                 PCI评估             -->
    <select id="getInCellInfo" parameterType="map" resultType="map">
        select cell_id as cell, ncell_id as ncell, rela_val from lte_inter_matrix where job_id=#{jobId} and
        cell_id=#{cellId}
    </select>
    <select id="getOutCellInfo" parameterType="map" resultType="map">
        select cell_id as cell, ncell_id as ncell, rela_val from lte_inter_matrix where job_id=#{jobId} and
        ncell_id=#{ncellId}
    </select>
    <select id="getPciCellInfo" parameterType="map" resultType="map">
        select cell_id as cell, ncell_id as ncell, rela_val, cell_pci, ncell_pci from lte_inter_matrix where
        job_id=#{jobId} and cell_id=#{cellId} or ncell_id=#{cellId}
    </select>

</mapper>
