/* 初始化 */
html, body, form, div, span, img, a, button, input, select, ul, li {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 9pt;
    line-height: 166.6%;
    font-family: '微软雅黑', Verdana, Geneva, sans-serif;
}

ul {
    list-style: none outside none;
}

/* 标题区域 */
header {
    position: relative;
    margin: 0 auto;
    width: 960px;
}

.logo {
    position: absolute;
    margin-top: 2px;
    margin-bottom: 7px;
}

/* 主内容区域 */
main {
    margin-top: 45px;
    height: 455px;
    background-color: rgb(255, 255, 255);
}

.login-main {
    position: relative;
    margin: 0 auto;
    width: 960px;
}

/* 幻灯片部分 - start */
.slides {
    padding-top: 65px;
    zoom: 1;
}

.slides > li {
    display: none;
    position: relative;
}

.slides img {
    display: block;
    max-width: 100%;
}

.login_slideNav {
    position: absolute;
    bottom: -390px;
    left: 10px;
    text-align: center;
}

.login_slideNav li {
    display: inline-block;
    margin: 0 0 0 5px;
    zoom: 1;
}

.login_slideNav li:first-child {
    margin: 0;
}

.login_slideNav li a {
    display: block;
    width: 13px;
    height: 13px;
    background: url("../images/bg-control-nav.png") 0 0 no-repeat;
    text-indent: -9999px;
    cursor: pointer;
}

.login_slideNav li a:hover {
    background-position: 0 -13px;
}

.login_slideNav li a.active {
    background-position: 0 -26px;
    cursor: default;
}
/* 幻灯片部分 - end */

/* 登录表单区域 - start */
.login-block {
    position: absolute;
    right: 30px;
    z-index: 2;
    margin-top: 25px;
    height: 350px;
    border: 1px solid rgb(183, 194, 201);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 5px 0;
    text-align: left;
}

.login-title {
    overflow: hidden;
    width: 300px;
    position: relative;
    float: left;
    height: 49px;
    border-right: 1px solid rgb(183, 194, 201);
    background: url("../images/login-block.png") repeat-x 0 0;
    color: rgb(28, 112, 197);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 46px;
    cursor: pointer;
}

.login-bg {
    position: relative;
    margin-top: 49px;
    height: 301px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
}

.login-form {
    position: absolute;
    top: 60px;
    left: 30px;
    height: 290px;
}

.error-tip {
    position: absolute;
    top: 0;
    width: 15pc;
    text-align: left;
    display: inline-block;
    color: red;
}

.form-input {
    position: relative;
    clear: both;
    margin-top: 25px;
    width: 238px;
    height: 34px;
}

.form-input input {
    top: 0;
    left: 0;
    padding: 5px 8px;
    width: 220px;
    height: 23px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 10px inset;
    color: rgb(153, 153, 153);
    font-size: 1pc;
}

.form-input input:focus {
    border: 1px solid rgb(28, 112, 197);
    box-shadow: rgba(28, 112, 197, 0.8) 0 0 4px;
}

.form-input input[type='text'] {
    width: 103px;
}

.email-selector {
    position: absolute;
    top: 0;
    left: 121px;
    display: block;
    overflow: hidden;
    width: 115px;
    height: 35px;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-image: initial;
    border-left: none;
    background-color: rgb(240, 240, 240);
    font-size: 9px;
    line-height: 33px;
    cursor: pointer;
}

.form-btn {
    margin: 30px 0 0 60px;
    height: 35px;
    border: medium none;
}

.form-btn button {
    display: inline-block;
    padding: 0;
    width: 102px;
    height: 35px;
    outline: 0;
    border: 0 none;
    vertical-align: baseline;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: url("../images/login-block.png") -2px -51px;
}

.form-btn button:hover {
    background-position: -87pt -51px;
}
/* 登录表单区域 - end */

/* 页脚部分 */
footer {
    position: relative;
    overflow: visible;
    margin: 0 auto;
    width: 960px;
    height: 63px;
    color: rgb(132, 133, 133);
}

.footer-content {
    position: absolute;
    top: 25px;
    right: 75pt;
}

.footer-content a {
    margin: 0 15px;
}

.footer-content span {
    margin-left: 15px;
}

.trusted-network {
    position: absolute;
    top: 24px;
    right: 30px;
}

a {
    color: rgb(132, 133, 133);
    text-decoration: none;
}

a:hover {
    color: rgb(51, 163, 220);
    text-decoration: underline;
}
