
body, iframe, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

iframe {
    width: 600px;
    height: 600px;
}

.paramTable {
    margin: auto;
    padding-left: 5px;
    width: 100%;
}


.paramTable tr td {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 4px 4px 6px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    vertical-align: middle;
    background: whitesmoke;
}

.paramTable input {
    width: 100%;
}

.paramTable div {
    display: inline-block;
    height: 21px;
    width: 100%;
    text-align: center;
}

.paramTable span {
    text-align: center;
    font-weight: bold;
    color: red;
    display: none;
}

.paramTable {
    margin: auto;
    padding-left: 5px;
    width: 100%
}

.paramTable th {
    padding: 0 10px;
    background: url('/rno4g/lte-geo-scene/images/cmp-bg2.gif') repeat-x;
    color: #444;
    white-space: nowrap;
    border: #CCC 1px solid;
    line-height: 30px;
    font-size: 14px;
}

.paramTable tr td {
    border: 1px solid #CCC;
    padding: 4px 4px 4px 6px;
    color: #000;
    line-height: 21px;
    vertical-align: middle;
    background: WhiteSmoke;
}

.paramTable input {
    width: 100%;
}

.paramTable div {
    display: inline-block;
    height: 21px;
    width: 100%;
    text-align: center;
}

.paramTable span {
    text-align: center;
    font-weight: bold;
    color: red;
    display: none;
}