
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

img, body, html {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

q::before, q::after {
    content: "";
}

.x-unselectable, .x-unselectable * {
}

.x-splitbar-proxy {
    position: absolute;
    visibility: hidden;
    z-index: 20001;
    zoom: 1;
    line-height: 1px;
    font-size: 1px;
    overflow: hidden;
}

.x-splitbar-h, .x-splitbar-proxy-h {
    cursor: col-resize;
}

.ext-webkit :focus {
    outline: none !important;
}

textarea {
    resize: none;
}

.ext-webkit .x-small-editor .x-form-text {
    padding-top: 3px;
    font-size: 100%;
}

.ext-strict .ext-webkit .x-small-editor .x-form-text {
    height: 14px !important;
}

.ext-webkit .x-fieldset-header {
    padding-top: 1px;
}

.x-fieldset legend .x-tool-toggle {
    margin-right: 3px;
    margin-left: 0;
    float: left !important;
}

.ext-gecko .x-btn button, .ext-webkit .x-btn button {
    padding-left: 0;
    padding-right: 0;
}

.x-grid-panel .x-panel-body {
    overflow: hidden !important;
}

.x-grid-panel .x-panel-mc .x-panel-body {
    border: 1px solid;
}

.ext-webkit .x-grid-panel .x-panel-bwrap {
    user-select: none;
}

.ext-webkit .x-tbar-page-number {
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap {
    position: relative;
    overflow: hidden;
}

.x-tree-icon, .x-tree-ec-icon, .x-tree-elbow-line, .x-tree-elbow, .x-tree-elbow-end, .x-tree-elbow-plus, .x-tree-elbow-minus, .x-tree-elbow-end-plus, .x-tree-elbow-end-minus {
    border: 0 none;
    height: 18px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    background-repeat: no-repeat;
}

.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon, .x-tree-node-leaf .x-tree-node-icon {
    border: 0 none;
    height: 18px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    background-position: center center;
    background-repeat: no-repeat;
}

.ext-ie .x-tree-node-indent img, .ext-ie .x-tree-node-icon, .ext-ie .x-tree-ec-icon {
    vertical-align: middle !important;
}

.ext-strict .ext-ie8 .x-tree-node-indent img, .ext-strict .ext-ie8 .x-tree-node-icon, .ext-strict .ext-ie8 .x-tree-ec-icon {
    vertical-align: top !important;
}

.x-tree-noicon .x-tree-node-icon {
    width: 0;
    height: 0;
}

.x-tree-no-lines .x-tree-elbow {
    background-color: transparent;
}

.x-tree-no-lines .x-tree-elbow-end {
    background-color: transparent;
}

.x-tree-no-lines .x-tree-elbow-line {
    background-color: transparent;
}

.x-tree-arrows .x-tree-elbow {
    background-color: transparent;
}

.x-tree-arrows .x-tree-elbow-end {
    background-color: transparent;
}

.x-tree-arrows .x-tree-elbow-end-minus {
    background: -16px 0 no-repeat transparent;
}

.x-tree-arrows .x-tree-ec-over .x-tree-elbow-end-minus {
    background-position: -48px 0;
}

.x-tree-elbow-plus, .x-tree-elbow-minus, .x-tree-elbow-end-plus, .x-tree-elbow-end-minus {
    cursor: pointer;
}

.ext-ie ul.x-tree-node-ct {
    font-size: 0;
    line-height: 0;
    zoom: 1;
}

.x-tree-node {
    white-space: nowrap;
}

.x-tree-node-el {
    line-height: 18px;
    cursor: pointer;
}

.x-tree-node a, .x-dd-drag-ghost a {
    text-decoration: none;
    outline: none 0;
}

.x-tree-node a span, .x-dd-drag-ghost a span {
    text-decoration: none;
    padding: 1px 3px 1px 2px;
}

.x-tree-node .x-tree-node-disabled .x-tree-node-icon {
    opacity: 0.5;
}

.x-tree-node .x-tree-node-inline-icon {
    background-color: transparent;
}

.x-tree-node a:hover, .x-dd-drag-ghost a:hover {
    text-decoration: none;
}

.x-tree-node div.x-tree-drag-insert-below {
    border-bottom: 1px dotted;
}

.x-tree-node div.x-tree-drag-insert-above {
    border-top: 1px dotted;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below {
    border-bottom: 0 none;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above {
    border-top: 0 none;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
    border-bottom: 2px solid;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
    border-top: 2px solid;
}

.x-tree-node .x-tree-drag-append a span {
    border: 1px dotted;
}

.x-dd-drag-ghost .x-tree-node-indent, .x-dd-drag-ghost .x-tree-ec-icon {
    display: none !important;
}

.x-tree-root-ct {
    zoom: 1;
}

.ext-webkit table.x-date-inner {
    width: 175px;
}

.ext-webkit .x-menu-sep {
    height: 1px;
}

.x-panel {
    border-style: solid;
    border-width: 0;
}

.x-panel-header {
    overflow: hidden;
    zoom: 1;
    padding: 5px 3px 4px 5px;
    border: 1px solid;
    line-height: 15px;
    background: 0 -1px repeat-x transparent;
}

.x-panel-body {
    border-width: 0 1px 1px;
    border-style: none solid solid;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
    position: relative;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-top: 1px solid;
}

.x-panel-header {
    overflow: hidden;
    zoom: 1;
}

.x-panel-tl .x-panel-header {
    padding: 5px 0 4px;
    border: 0 none;
    background: no-repeat transparent;
}

.x-panel-mc .x-panel-body {
    background-color: transparent;
    border: 0 none;
}

.x-panel-bwrap {
    overflow: hidden;
    zoom: 1;
    left: 0;
    top: 0;
}

.x-panel-body {
    overflow: hidden;
    zoom: 1;
}

.x-tool {
    overflow: hidden;
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    background: no-repeat transparent;
    margin-left: 2px;
}

.x-tool-toggle {
    background-position: 0 -60px;
}

.x-panel-collapsed .x-tool-toggle {
    background-position: 0 -75px;
}

.x-panel-reset .x-panel-body html, .x-panel-reset .x-panel-body address, .x-panel-reset .x-panel-body blockquote, .x-panel-reset .x-panel-body body, .x-panel-reset .x-panel-body dd, .x-panel-reset .x-panel-body div, .x-panel-reset .x-panel-body dl, .x-panel-reset .x-panel-body dt, .x-panel-reset .x-panel-body fieldset, .x-panel-reset .x-panel-body form, .x-panel-reset .x-panel-body frame, frameset, .x-panel-reset .x-panel-body h1, .x-panel-reset .x-panel-body h2, .x-panel-reset .x-panel-body h3, .x-panel-reset .x-panel-body h4, .x-panel-reset .x-panel-body h5, .x-panel-reset .x-panel-body h6, .x-panel-reset .x-panel-body noframes, .x-panel-reset .x-panel-body ol, .x-panel-reset .x-panel-body p, .x-panel-reset .x-panel-body ul, .x-panel-reset .x-panel-body center, .x-panel-reset .x-panel-body dir, .x-panel-reset .x-panel-body hr, .x-panel-reset .x-panel-body menu, .x-panel-reset .x-panel-body pre {
    display: block;
}

.x-panel-reset .x-panel-body li {
    display: list-item;
}

.x-panel-reset .x-panel-body head {
    display: none;
}

.x-panel-reset .x-panel-body table {
    display: table;
}

.x-panel-reset .x-panel-body tr {
    display: table-row;
}

.x-panel-reset .x-panel-body thead {
    display: table-header-group;
}

.x-panel-reset .x-panel-body tbody {
    display: table-row-group;
}

.x-panel-reset .x-panel-body tfoot {
    display: table-footer-group;
}

.x-panel-reset .x-panel-body col {
    display: table-column;
}

.x-panel-reset .x-panel-body colgroup {
    display: table-column-group;
}

.x-panel-reset .x-panel-body td, .x-panel-reset .x-panel-body th {
    display: table-cell;
}

.x-panel-reset .x-panel-body caption {
    display: table-caption;
}

.x-panel-reset .x-panel-body th {
    font-weight: bolder;
    text-align: center;
}

.x-panel-reset .x-panel-body caption {
    text-align: center;
}

.x-panel-reset .x-panel-body body {
    margin: 8px;
}

.x-panel-reset .x-panel-body h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.x-panel-reset .x-panel-body h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
}

.x-panel-reset .x-panel-body h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
}

.x-panel-reset .x-panel-body h4, .x-panel-reset .x-panel-body p, .x-panel-reset .x-panel-body blockquote, .x-panel-reset .x-panel-body ul, .x-panel-reset .x-panel-body fieldset, .x-panel-reset .x-panel-body form, .x-panel-reset .x-panel-body ol, .x-panel-reset .x-panel-body dl, .x-panel-reset .x-panel-body dir, .x-panel-reset .x-panel-body menu {
    margin: 1.12em 0;
}

.x-panel-reset .x-panel-body h5 {
    font-size: 0.83em;
    margin: 1.5em 0;
}

.x-panel-reset .x-panel-body h6 {
    font-size: 0.75em;
    margin: 1.67em 0;
}

.x-panel-reset .x-panel-body h1, .x-panel-reset .x-panel-body h2, .x-panel-reset .x-panel-body h3, .x-panel-reset .x-panel-body h4, .x-panel-reset .x-panel-body h5, .x-panel-reset .x-panel-body h6, .x-panel-reset .x-panel-body b, .x-panel-reset .x-panel-body strong {
    font-weight: bolder;
}

.x-panel-reset .x-panel-body blockquote {
    margin-left: 40px;
    margin-right: 40px;
}

.x-panel-reset .x-panel-body i, .x-panel-reset .x-panel-body cite, .x-panel-reset .x-panel-body em, .x-panel-reset .x-panel-body var, .x-panel-reset .x-panel-body address {
    font-style: italic;
}

.x-panel-reset .x-panel-body pre, .x-panel-reset .x-panel-body tt, .x-panel-reset .x-panel-body code, .x-panel-reset .x-panel-body kbd, .x-panel-reset .x-panel-body samp {
    font-family: monospace;
}

.x-panel-reset .x-panel-body pre {
    white-space: pre;
}

.x-panel-reset .x-panel-body button, .x-panel-reset .x-panel-body textarea, .x-panel-reset .x-panel-body input, .x-panel-reset .x-panel-body select {
    display: inline-block;
}

.x-panel-reset .x-panel-body big {
    font-size: 1.17em;
}

.x-panel-reset .x-panel-body small, .x-panel-reset .x-panel-body sub, .x-panel-reset .x-panel-body sup {
    font-size: 0.83em;
}

.x-panel-reset .x-panel-body sub {
    vertical-align: sub;
}

.x-panel-reset .x-panel-body sup {
    vertical-align: super;
}

.x-panel-reset .x-panel-body table {
    border-spacing: 2px;
}

.x-panel-reset .x-panel-body thead, .x-panel-reset .x-panel-body tbody, .x-panel-reset .x-panel-body tfoot {
    vertical-align: middle;
}

.x-panel-reset .x-panel-body td, .x-panel-reset .x-panel-body th {
    vertical-align: inherit;
}

.x-panel-reset .x-panel-body s, .x-panel-reset .x-panel-body strike, .x-panel-reset .x-panel-body del {
    text-decoration: line-through;
}

.x-panel-reset .x-panel-body hr {
    border: 1px inset;
}

.x-panel-reset .x-panel-body ol, .x-panel-reset .x-panel-body ul, .x-panel-reset .x-panel-body dir, .x-panel-reset .x-panel-body menu, .x-panel-reset .x-panel-body dd {
    margin-left: 40px;
}

.x-panel-reset .x-panel-body ul, .x-panel-reset .x-panel-body menu, .x-panel-reset .x-panel-body dir {
    list-style-type: disc;
}

.x-panel-reset .x-panel-body ol {
    list-style-type: decimal;
}

.x-panel-reset .x-panel-body ol ul, .x-panel-reset .x-panel-body ul ol, .x-panel-reset .x-panel-body ul ul, .x-panel-reset .x-panel-body ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

.x-panel-reset .x-panel-body u, .x-panel-reset .x-panel-body ins {
    text-decoration: underline;
}

.x-panel-reset .x-panel-body br::before {
    content: "\a ";
}

.x-panel-reset .x-panel-body ::before, .x-panel-reset .x-panel-body ::after {
    white-space: pre-line;
}

.x-panel-reset .x-panel-body center {
    text-align: center;
}

.x-panel-reset .x-panel-body :link, .x-panel-reset .x-panel-body :visited {
    text-decoration: underline;
}

.x-panel-reset .x-panel-body :focus {
}

.x-panel-reset .x-panel-body bdo[dir="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.x-panel-reset .x-panel-body bdo[dir="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.ext-webkit .x-dlg-focus {
    width: 1px;
    height: 1px;
}

.x-border-layout-ct {
    position: relative;
}

.x-border-panel {
    position: absolute;
    left: 0;
    top: 0;
}

.x-tool-collapse-west {
    background-position: 0 -180px;
}

.x-accordion-hd .x-tool-toggle {
    background-position: 0 -255px;
}

.x-panel-collapsed .x-accordion-hd .x-tool-toggle {
    background-position: 0 -240px;
}

.x-layout-split {
    position: absolute;
    height: 5px;
    width: 5px;
    line-height: 1px;
    font-size: 1px;
    z-index: 3;
    background-color: transparent;
}

.ext-strict .ext-ie6 .x-layout-split {
    background-color: rgb(255, 255, 255) !important;
}

.x-layout-split-west .x-layout-mini {
    top: 48%;
}

.x-viewport, .x-viewport body {
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    height: 100%;
}

.x-splitbar-proxy {
    background-color: rgb(170, 170, 170);
}

.ext-webkit .x-small-editor .x-form-field {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 11px;
    line-height: normal;
    font-family: arial, tahoma, helvetica, sans-serif;
}

.x-grid-panel .x-panel-mc .x-panel-body {
    border-color: rgb(153, 187, 232);
}

.x-tree-node-expanded .x-tree-node-icon {
    background-image: url("../images/folder-open.gif");
}

.x-tree-node-leaf .x-tree-node-icon {
    background-image: url("../images/leaf.gif");
}

.x-tree-node-collapsed .x-tree-node-icon {
    background-image: url("../images/folder.gif");
}

.x-tree-node-loading .x-tree-node-icon {
    background-image: url("../images/loading.gif") !important;
}

.x-tree-node .x-tree-node-inline-icon {
    background-image: none;
}

.x-tree-lines .x-tree-elbow {
    background-image: url("../images/elbow.gif");
}

.x-tree-lines .x-tree-elbow-end {
    background-image: url("../images/elbow-end.gif");
}

.x-tree-lines .x-tree-elbow-end-minus {
    background-image: url("../images/elbow-end-minus.gif");
}

.x-tree-no-lines .x-tree-elbow-plus {
    background-image: url("../images/elbow-plus-nl.gif");
}

.x-tree-no-lines .x-tree-elbow-minus {
    background-image: url("../images/elbow-minus-nl.gif");
}

.x-tree-no-lines .x-tree-elbow-end-plus {
    background-image: url("../images/elbow-end-plus-nl.gif");
}

.x-tree-no-lines .x-tree-elbow-end-minus {
    background-image: url("../images/elbow-end-minus-nl.gif");
}

.x-tree-arrows .x-tree-elbow-end-minus {
    background-image: url("../images/arrows.gif");
}

.x-tree-node {
    color: rgb(0, 0, 0);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 11px;
    line-height: normal;
    font-family: arial, tahoma, helvetica, sans-serif;
}

.x-tree-node a, .x-dd-drag-ghost a {
    color: rgb(0, 0, 0);
}

.x-tree-node a span, .x-dd-drag-ghost a span {
    color: rgb(0, 0, 0);
}

.x-tree-node .x-tree-node-disabled a span {
    color: gray !important;
}

.x-tree-node div.x-tree-drag-insert-below {
    border-bottom-color: rgb(51, 102, 204);
}

.x-tree-node div.x-tree-drag-insert-above {
    border-top-color: rgb(51, 102, 204);
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
    border-bottom-color: rgb(51, 102, 204);
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
    border-top-color: rgb(51, 102, 204);
}

.x-tree-node .x-tree-drag-append a span {
    background-color: rgb(221, 221, 221);
    border-color: gray;
}

.x-tree-node .x-tree-node-over {
    background-color: rgb(238, 238, 238);
}

.x-tree-node .x-tree-selected {
    background-color: rgb(217, 232, 251);
}

.x-panel {
    border-color: rgb(153, 187, 232);
}

.x-panel-header {
    color: rgb(21, 66, 139);
    font-weight: bold;
    font-size: 11px;
    font-family: tahoma, arial, verdana, sans-serif;
    border-color: rgb(153, 187, 232);
    background-image: url("../images/white-top-bottom.gif");
}

.x-panel-body {
    border-color: rgb(153, 187, 232);
    background-color: rgb(255, 255, 255);
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-top-color: rgb(153, 187, 232);
}

.x-panel-tl .x-panel-header {
    color: rgb(21, 66, 139);
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 11px;
    line-height: normal;
    font-family: tahoma, arial, verdana, sans-serif;
}

.x-border-layout-ct {
    background-color: rgb(223, 232, 246);
}

.x-layout-split-west .x-layout-mini {
    background-image: url("../images/mini-left.gif");
}

.x-panel-header {
    font-size: 12px;
}

.x-tree-node {
    font-size: 12px;
}

.x-panel-tl .x-panel-header {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: tahoma, arial, verdana, sans-serif;
}

.x-tree {
    background: rgb(255, 255, 255) !important;
}

.x-border-layout-ct {
    background: transparent;
}

body.x-border-layout-ct {
    background: url("../images/bg.gif") left top repeat-x rgb(195, 213, 237) !important;
}

.x-layout-split {
    background-color: transparent !important;
}

.x-tree-node-ct .x-tree-node .x-tree-node-over {
    background-color: rgb(127, 149, 198);
}

.x-tree-node-ct .x-tree-node .x-tree-node-over a.x-tree-node-anchor span {
    color: rgb(255, 255, 255);
}

.x-tree-node-ct .x-tree-node .x-tree-selected {
    background-color: rgb(144, 176, 245);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.x-tree-root-node .x-tree-node a span, .x-tree-root-node .x-dd-drag-ghost a span {
    padding: 1px 3px 1px 5px;
}

.x-tree-node div.forum-ct {
    background: url("../images/cmp-bg.gif") repeat-x;
    border-bottom: 1px solid rgb(153, 187, 232);
    padding: 5px 0 5px 5px;
}

.forum-ct .x-tree-node-icon {
    display: none;
}

.forum-ct a span {
    font-weight: normal;
    color: rgb(34, 34, 34);
}

.forum {
    padding: 5px 0;
    border-bottom: 1px solid rgb(194, 216, 245);
}

.forum .x-tree-ec-icon {
    display: none;
}

.icon-forum {
    position: relative;
    top: -2px;
    background-image: url("../images/forum.gif") !important;
}

.x-tree-no-lines .x-tree-elbow-minus, .x-tree-no-lines .x-tree-elbow-end-minus {
    /*background-image: url("../images/down.gif");*/
    float: right;
    margin-right: 5px;
}

.x-tree-no-lines .x-tree-elbow-plus, .x-tree-no-lines .x-tree-elbow-end-plus {
    background-image: url("../images/up.gif");
    float: right;
    margin-right: 5px;
}
