
.menuTd {
    width: 30%;
    /*background: rgb(232, 237, 255);*/
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
}

.resource_list_icon {
    position: absolute;
    right: 286px;
    top: 0;
    z-index: 2;
    height: 100%;
}

.resource_list_icon .shad_v {
    background: url("../images/shadv.png") 0 0 repeat-y transparent;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.resource_list_icon .switch {
    background: url("../images/flexArrow.png") no-repeat white;
    height: 68px;
    right: 0;
    position: absolute;
    top: 6px;
    width: 18px;
    z-index: 10;
}

.resource_list_icon .switch_hidden {
    background: url("../images/flexArrow.png") -22px 0 no-repeat white;
    height: 68px;
    left: -18px;
    position: absolute;
    top: 6px;
    width: 18px;
    z-index: 10;
    display: none;
}

.resource_list_box {
    background: url("../images/shadh.png") 0 0 repeat-x rgb(255, 255, 255);
    position: fixed;
    right: 0;
    top: 0;
    width: 286px;
    z-index: 5;
    box-shadow: rgb(153, 153, 153) -2px -2px 5px;
    display: block;
    font-size: 12px;
    height: 100%;
    overflow-x: auto;
    margin-bottom: 39px;
}

.loading_cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

.cover {
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    opacity: 0.6;
}

.loading {
    height: 36px;
    line-height: 36px;
    background: url("../images/loading_img.gif") no-repeat;
    padding-left: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    font-weight: normal;
    font-size: 14px;
}

.dialog {
    background: url("../images/panel_title.png") 0 0 repeat scroll transparent;
    border: 1px solid rgb(153, 187, 232);
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 35px;
    z-index: 20;
    cursor: move;
}

.map {
    height: 100%;
    width: 100%;
    z-index: 5;
}

.custom tbody tr{
    cursor: pointer;
}

.custom tbody tr:hover{
    background: rgba(94, 94, 94, 0.32);
}

.custom-bg{
    background: rgba(94, 94, 94, 0.32);
}

.loading {
    width: 160px;
    height: 56px;
    position: fixed;
    top: 35%;
    left: 45%;
    line-height: 56px;
    color: #fff;
    padding-left: 60px;
    font-size: 15px;
    background: #000 url("../images/loader.gif") no-repeat 10px 50%;
    opacity: 0.7;
    z-index: 9999;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.info-style {
    width: 200px;
    height: 56px;
    position: fixed;
    top: 35%;
    left: 45%;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    background: #ff0000;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
    z-index: 9999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.custom-select {
    display: inline-block;
    width: 100px;
}

.custom-btn {
    height: 34px;
    margin-bottom: 5px;
}

.popover-content {
    max-height: 350px;
    overflow-x: auto;
}